<section id="basic-input">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Adquisición</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <fieldset class="form-group">
                                    <label for="basicInput">Oferta</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Escriba el dato">
                                </fieldset>

                                <fieldset class="form-group">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Fecha notificación de la oferta</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d2="ngbDatepicker">
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text" (click)="d2.toggle()">
                                                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!--<p class="mt-4">Model: {{ popupModel | json }}</p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="form-group">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Fecha aceptación de la oferta 2</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d2="ngbDatepicker">
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text" (click)="d2.toggle()">
                                                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!--<p class="mt-4">Model: {{ popupModel | json }}</p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                    <div class="card">
                                        <div class="card-content" style="border-style: solid;">
                                            <div class="card-body py-0">
                                                <div class="media pb-1">
                                                    <div class="media-body">
                                                        <h3 class="font-large-1 mb-0"><br>Descargar anexos</h3>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                                                        <div class="fonticon-wrap"><i class="fa fa-download"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">

                                <fieldset class="form-group">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Fecha de la oferta</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d2="ngbDatepicker">
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text" (click)="d2.toggle()">
                                                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!--<p class="mt-4">Model: {{ popupModel | json }}</p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="form-group">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Fecha aceptación de la oferta</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d2="ngbDatepicker">
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text" (click)="d2.toggle()">
                                                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!--<p class="mt-4">Model: {{ popupModel | json }}</p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="form-group">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Fecha cancelación de la oferta</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d2="ngbDatepicker">
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text" (click)="d2.toggle()">
                                                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!--<p class="mt-4">Model: {{ popupModel | json }}</p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>

                            <div class="col-md-3">

                                <fieldset class="form-group">
                                    <label for="basicInput">Oficio de notificación</label>
                                    <input type="text" class="form-control" id="basicInput" placeholder="Escriba el dato">
                                </fieldset>

                                <fieldset class="form-group">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Fecha oficio inscripción de la oferta</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel" ngbDatepicker #d2="ngbDatepicker">
                                                                <div class="input-group-append">
                                                                    <div class="input-group-text" (click)="d2.toggle()">
                                                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!--<p class="mt-4">Model: {{ popupModel | json }}</p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                    <div class="card">
                                        <div class="card-content" style="border-style: solid;">
                                            <div class="card-body py-0">
                                                <div class="media pb-1">
                                                    <div class="media-body">
                                                        <h3 class="font-large-1 mb-0"><br>Subir anexos</h3>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                                                        <div class="fonticon-wrap"><i class="fa fa-upload"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>