<div class="card mb-3">
    <div class="card-header">
        <h4 class="card-title">{{titulo}}</h4>
    </div>
    <div class="card-body" style="overflow-x:auto;">
        <button class="btn btn-primary my-2" routerLink="/pages/info-catastral/form">Crear nueva información catastral</button>
        <div class="alert alert-info" *ngIf="lista?.length==0">
            No hay información catastral en la base de datos.
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length>0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>sector_catastral</th>
                    <th>codigo_catastral</th>
                    <th>direccion_catastral</th>
                    <th>chip</th>
                    <th>cedula_catastral</th>
                    <th>dest_catastral</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infoCatastral of lista">
                    <td>{{infoCatastral.id}}</td>
                    <td>{{infoCatastral.sector_catastral}}</td>
                    <td>{{infoCatastral.codigo_catastral}}</td>
                    <td>{{infoCatastral.direccion_catastral}}</td>
                    <td>{{infoCatastral.chip}}</td>
                    <td>{{infoCatastral.cedula_catastral}}</td>
                    <td>{{infoCatastral.dest_catastral}}</td>
                    <td><button class="btn btn-secondary btn-sm" [routerLink]="['/pages/info-catastral/form', infoCatastral.id]"><div class="fonticon-wrap"><i class="fa ft-edit"></i></div></button></td>
                    <td><button class="btn btn-danger btn-sm" (click)="eliminar(infoCatastral)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual" [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-left mx-2">
        </mat-paginator>
    </div>
</div>