<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ESTUDIOS DE TÍTULOS</h4>
        </div>
        <div class="card-content">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table text-center m-0">
                        <thead>
                            <tr>
                                <th>Elaboración por: Pedro Pérez</th>
                                <th>Fecha realización: 18/03/2022</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-content" style="border-style: solid;">
                                                <div class="card-body py-0">
                                                    <div class="media pb-1">
                                                        <div class="media-body text-left">
                                                            <h3 class="font-large-1 mb-0">Descripción de limitación</h3>
                                                            <br>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna enim, rhoncus id augue ut, 
                                                        condimentum lobortis orci. Sed consequat elit sem, vitae tempor eros auctor et. Sed efficitur est 
                                                        et erat rutrum, et fermentum mi fringilla. Donec vulputate, ligula at vestibulum convallis, odio 
                                                        mauris ullamcorper diam, id venenatis diam orci ut magna. Donec aliquam ligula sed nunc fermentum, 
                                                        eget fringilla turpis laoreet. Etiam aliquet lacinia diam, non eleifend dui sagittis vel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-content" style="border-style: solid;">
                                                <div class="card-body py-0">
                                                    <div class="media pb-1">
                                                        <div class="media-body text-left">
                                                            <h3 class="font-large-1 mb-0">Descripción de gravamén</h3>
                                                            <br>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna enim, rhoncus id augue ut, 
                                                    condimentum lobortis orci. Sed consequat elit sem, vitae tempor eros auctor et. Sed efficitur est 
                                                    et erat rutrum, et fermentum mi fringilla. Donec vulputate, ligula at vestibulum convallis, odio 
                                                    mauris ullamcorper diam, id venenatis diam orci ut magna. Donec aliquam ligula sed nunc fermentum, 
                                                    eget fringilla turpis laoreet. Etiam aliquet lacinia diam, non eleifend dui sagittis vel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-content" style="border-style: solid;">
                                                <div class="card-body py-0">
                                                    <div class="media pb-1">
                                                        <div class="media-body text-left">
                                                            <h3 class="font-large-1 mb-0">Descripción de afectación</h3>
                                                            <br>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna enim, rhoncus id augue ut, 
                                                      condimentum lobortis orci. Sed consequat elit sem, vitae tempor eros auctor et. Sed efficitur est 
                                                      et erat rutrum, et fermentum mi fringilla. Donec vulputate, ligula at vestibulum convallis, odio 
                                                      mauris ullamcorper diam, id venenatis diam orci ut magna. Donec aliquam ligula sed nunc fermentum, 
                                                      eget fringilla turpis laoreet. Etiam aliquet lacinia diam, non eleifend dui sagittis vel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-content" style="border-style: solid;">
                                                <div class="card-body py-0">
                                                    <div class="media pb-1">
                                                        <div class="media-body">
                                                            <h3 class="font-large-1 mb-0"><br>Descargar anexos</h3>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                                                            <div class="fonticon-wrap"><i class="fa fa-download"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">LEVANTAMIENTO TOPOGRÁFICO</h4>
        </div>
        <div class="card-content">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table text-center m-0">
                        <thead>
                            <tr>
                                <th>Elaboración por: Pedro Pérez</th>
                                <th>Fecha realización: 18/03/2022</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-content" style="border-style: solid;">
                                                <div class="card-body py-0">
                                                    <div class="media pb-1">
                                                        <div class="media-body text-left">
                                                            <h3 class="font-large-1 mb-0">Observaciones</h3>
                                                            <br>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna enim, rhoncus id augue ut, 
                                                        condimentum lobortis orci. Sed consequat elit sem, vitae tempor eros auctor et. Sed efficitur est 
                                                        et erat rutrum, et fermentum mi fringilla. Donec vulputate, ligula at vestibulum convallis, odio 
                                                        mauris ullamcorper diam, id venenatis diam orci ut magna. Donec aliquam ligula sed nunc fermentum, 
                                                        eget fringilla turpis laoreet. Etiam aliquet lacinia diam, non eleifend dui sagittis vel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-content" style="border-style: solid;">
                                                <div class="card-body py-0">
                                                    <div class="media pb-1">
                                                        <div class="media-body text-left">
                                                            <h3 class="font-large-1 mb-0"><br>Descargar anexos</h3>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                                                            <div class="fonticon-wrap"><i class="fa fa-download"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">CERTIFICADO DE CABIDA Y LINDEROS</h4>
        </div>
        <div class="card-content">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table text-center m-0">
                        <thead>
                            <tr>
                                <th>Número de identificación: 1234567890</th>
                                <th>Fecha de certificación: 18/03/2022</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-content" style="border-style: solid;">
                                                <div class="card-body py-0">
                                                    <div class="media pb-1">
                                                        <div class="media-body text-left">
                                                            <h3 class="font-large-1 mb-0">Oficio entrada</h3>
                                                            <br>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna enim, rhoncus id augue ut, 
                                                      condimentum lobortis orci. Sed consequat elit sem, vitae tempor eros auctor et. Sed efficitur est 
                                                      et erat rutrum, et fermentum mi fringilla. Donec vulputate, ligula at vestibulum convallis, odio 
                                                      mauris ullamcorper diam, id venenatis diam orci ut magna. Donec aliquam ligula sed nunc fermentum, 
                                                      eget fringilla turpis laoreet. Etiam aliquet lacinia diam, non eleifend dui sagittis vel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-content" style="border-style: solid;">
                                                <div class="card-body py-0">
                                                    <div class="media pb-1">
                                                        <div class="media-body text-left">
                                                            <h3 class="font-large-1 mb-0">Oficio salida</h3>
                                                            <br>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna enim, rhoncus id augue ut, 
                                                  condimentum lobortis orci. Sed consequat elit sem, vitae tempor eros auctor et. Sed efficitur est 
                                                  et erat rutrum, et fermentum mi fringilla. Donec vulputate, ligula at vestibulum convallis, odio 
                                                  mauris ullamcorper diam, id venenatis diam orci ut magna. Donec aliquam ligula sed nunc fermentum, 
                                                  eget fringilla turpis laoreet. Etiam aliquet lacinia diam, non eleifend dui sagittis vel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-content" style="border-style: solid;">
                                                <div class="card-body py-0">
                                                    <div class="media pb-1">
                                                        <div class="media-body text-left">
                                                            <h3 class="font-large-1 mb-0">Observaciones</h3>
                                                            <br>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna enim, rhoncus id augue ut, 
                                                    condimentum lobortis orci. Sed consequat elit sem, vitae tempor eros auctor et. Sed efficitur est 
                                                    et erat rutrum, et fermentum mi fringilla. Donec vulputate, ligula at vestibulum convallis, odio 
                                                    mauris ullamcorper diam, id venenatis diam orci ut magna. Donec aliquam ligula sed nunc fermentum, 
                                                    eget fringilla turpis laoreet. Etiam aliquet lacinia diam, non eleifend dui sagittis vel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-lg-10 col-lg-6 col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-content" style="border-style: solid;">
                                                <div class="card-body py-0">
                                                    <div class="media pb-1">
                                                        <div class="media-body">
                                                            <h3 class="font-large-1 mb-0"><br>Descargar anexos</h3>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                                                            <div class="fonticon-wrap"><i class="fa fa-download"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>